<div class="home row">
  <div class="position-relative d-none d-sm-block col-sm-8">
    <div class="bg"></div>
  </div>
  <main class="login col-sm-4">
    <div class="mt-toolbar">
      <mat-toolbar color="primary" class="mt-toolbar__main">
        <div class="d-flex align-items-center justify-content-between w-100">
          <span>NgMsgFirestore</span>
          <button
            mat-stroked-button
            class="btn-user"
            *ngIf="authService.user$ | async as user"
            [matMenuTriggerFor]="appMenu"
          >
            <img [src]="user.photoURL" />
            {{ user.displayName }}
          </button>
        </div>
      </mat-toolbar>
    </div>

    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="authService.signOut()">
        <mat-icon>keyboard_tab</mat-icon>
        Logout
      </button>
    </mat-menu>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
